# Python
__pycache__/
*.pyc

# Virtual Env
yolo/


# Dataset
dataset/
runs/

# Cache
.cache/

# VSCode
.vscode/

#google/
google-services.json

smartmoneysaver-77244-firebase-adminsdk-fbsvc-5658621e6b.json